@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
/* ------------------ */
@import url("reset.css");
/* ------------------ */
body {
	background-color: #333;
	color: #fff;
	font-family: "Montserrat";
}
/* ------------------ */
.wrapper {
	min-height: 100%;
}
/* ------------------ */
.page {
	padding: 50px;
}
.page__item{
	margin-bottom: 20px;
}
/* ------------------ */
/* ------------------ */
/* ------------------ */
.button{
	background-color: #7A956B;
	padding: 20px 40px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	position: relative;
	letter-spacing: 1px;
	transition: background-color 0.3s ease 0s;

	overflow: hidden;
}
.button:hover{
	background-color: #68805d;
}

.ripple {
	position: absolute;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.5);

	animation:button-circle 2000ms ease forwards;
}

@keyframes button-circle {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(20);
		opacity: 0;
	}
}





























.button_l{
	padding: 40px 80px;
	font-size: 20px;
}
.button_s {
	padding: 10px 20px;
	font-size: 12px;
}
